:root {

  --crimson: rgb(156, 47, 72);
  --red: rgb(226, 67, 41);
  --deep-orange: rgb(252, 109, 38);
/* purple rgb(85, 68, 136) */

/* light blue rgb(45, 150, 189) */

  --md-text-color: rgb(255, 255, 255);
/* background */
  --md-default-bg-color: rgb(85, 68, 136);
/* header */
  --md-primary-fg-color: rgb(226, 67, 41);
/* header titles */
  --md-primary-bg-color: rgb(252, 163, 38);
/* highlighted titles */
  --md-accent-fg-color: rgb(252, 109, 38);
/* primary headers */
  --md-default-fg-color--light: rgb(226, 67, 41);
/* paragraph icon */
  --md-default-fg-color--lighter: rgb(226, 67, 41);
/* sidebar title */
  --md-default-fg-color--lightest: rgb(226, 67, 41);
/* searchbar title */
  --md-primary-bg-color--light: rgb(255, 0, 0);
/* text */
  /* --md-default-fg-color: rgb(255, 255, 255); */

  /* Default color shades */
  --md-default-bg-color--light: rgb(33, 255, 3);
  --md-default-bg-color--lighter: rgb(33, 255, 3);
  --md-default-bg-color--lightest: rgb(33, 255, 3);

  /* Primary color shades */

  /* --md-primary-fg-color--light: rgb(233, 14, 222);
  --md-primary-fg-color--dark: rgb(136, 69, 7); */



  /* Accent color shades */

  --md-accent-fg-color--transparent: rgb(33, 255, 3);
  --md-accent-bg-color: rgb(33, 255, 3);
  --md-accent-bg-color--light: rgb(33, 255, 3);

  /* Code block color shades */
  --md-code-bg-color: rgb(0, 0, 0);
  /* --md-code-fg-color: rgb(7, 9, 136); */
}